@font-face {
  font-family: 'Exo2-SemiBold';
  src: url('/fonts/Exo2-SemiBold.ttf')
}
@font-face {
  font-family: 'TitanOne';
  src: url('/fonts/TitanOne-Regular.ttf')
}
@font-face {
  font-family: 'ComicRelief';
  src: url('/fonts/ComicRelief-Regular.ttf')
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf.txt')
}
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  height: fit-content;
  display: flex;/* 
  grid-template-rows: 5% 80% 15%;
  grid-template-columns: 100%; */
  flex-direction: column;
  padding: 0;
  overflow-y: scroll;
  position: relative;
}
.container > div {
  flex-shrink: 0;
}
.top-bar {
  width: 100%;
  background: #ef0000;
  padding: 5px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 4;
}
.logo {
  font-family: TitanOne;
  font-weight: 900;
  font-size: 25px;
  letter-spacing: 1px;
  -webkit-text-stroke: .04rem #fff;
  text-shadow: 0 5px 7px #E8E8E8;
}
nav {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}      
.nav-item {
  color: #fff;
  width: 50px;
  font-size: 12px;
  font-family: Exo2-SemiBold;
}
.main {
  width: 100%;
  height: 100%;
}    
.greeting {
  font-size: 12px;
  color: #8992A6;
  letter-spacing: 1px;
  font-family: Exo2-SemiBold;
  padding: 10px;
  overflow-x: hidden;
  width: 100%;
}  
.open-greet {
  font-size: 20px;
  color: #000;
  font-weight: bolder;
}
.greet-logo {
  font-family: TitanOne;
  font-weight: 900;
  -webkit-text-stroke: .01rem #ef0000;
}
.gallery {
  margin: 5px 0;
  height: 200px;
  position: relative;
  background: #300;
}      
.gallery-img {
  display: flex;
  justify-content: start;
  align-items: center;
  overflow-x: scroll;
  gap: 10%;
  height: 100%;
  width: 100%;
  padding: 5px;
}
.gs-item {
  border-radius: 5px;
  box-shadow: 3px 3px 5px #C29EAA inset,
             -3px -3px 5px #C29EAA inset,
             1px 2px 5px #BDBDBD;
  height: 100%;
  background: #FFFFFF;
  width: fit-content;
  padding: 10px;
  flex-shrink: 0;
  align-content: center;
}
.gs-item.null {
  width: 35%;
  box-shadow: 0 0 0 #BB2F2F;
  background: inherit;
}
img {
  height: 100%;
}
.more-pics {
  font-family: ComicRelief;
  font-weight: bolder;
  position: absolute;
  right: 20px;
  top: 30%;
  background: #fff;
  border-radius: 10px;
  width: 100px;
  aspect-ratio: 1;
  z-index: 2;
  font-size: 30px;
  text-align: center;
  box-shadow: 3px 5px 5px #BFBFBF,
             3px 5px 5px #FFD7D7 inset,
            -3px -5px 5px #FFD7D7 inset;
 color: #3C1515;
}
.gallery-cover {
  position: absolute;
  height: 100%;
  width: 45%;
  background: linear-gradient(to right, transparent 15%, #6D6D6D 85%);
  opacity: .9;
  top: 0;
  right: 0;
  z-index: 1;
  box-shadow: 3px 0 5px #BDBDBD inset,
            -3px 0 5px #BDBDBD inset;
  border-radius: 0;
}
.user-entry {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 50px;
  margin: 10px 0;
}
.user-entry .sign-up, .user-entry .log-in {
  width: 100px;
  font-size: 14px;
  font-family: TitanOne;
  box-shadow: 3px 5px 5px #BFBFBF,
             3px 5px 5px #F3F3F3 inset,
            -3px -5px 5px #F3F3F3 inset;
  color: #3C1515;
  border-radius: 5px;
}

.comments {
  border-radius: 10px;
  overflow: hidden;
  padding: 0 3px;
}
.comments .ttl {
  background: #fea;
  color: #500;
  padding: 10px;
  font-weight: 900;
  font-family: Poppins;
}
.comment-cont {
  padding: 5px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #D5D5D5;
}
.comment {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 10% 87%;
  justify-content: start;
  align-items: center;
  gap: 5%;
  box-shadow: 2px 2px 3px #D9D9D9;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  padding: 5px;
  
  & .img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #BABABA;
    
    & img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  & .text {
    width: 100%;
    height: fit-content;
    letter-spacing: 1px;
    
    & .user-id {
      font-family: Poppins;
      font-size: 12px;
      color: #442C12;
      font-weight: 900;
    }
    & .testimony {
      font-size: 12px;
      color: #91908F;
      width: 100%;
      font-family: ComicRelief;
      padding: 5px 0;
      text-align: justify;
    }
    & .user-report {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 5px 0 0;
      font-size: 10px;
      font-weight: 700;
      font-family: Exo2-SemiBold;
      color: #500;
      & span {
        color: gold;
      }
      & .timing {
        font-weight: 900;
      }
    }
  }
}

.footer {
  background: #5F0A0A;
  color: #FFDCA1;
  height: 300px;
  font-family: Exo2-SemiBold;
  font-size: 12px;
  padding: 5px;
  
  & .newsletter {
    font-size: 11px;
    text-align: justify;
    
    & form input {
      background: inherit;
      border: 2px solid #CB8D23;
      outline: none;
      font-family: Poppins;
      width: 70%;
      padding: 5px;
      border-radius: 5px;
      color: #FFDCA1;
      font-size: 12px;
      transition: border 0.5s ease-in-out;
    }
    & form input:focus {
      border: 2px solid #FFDCA1;
    }
    & form button {
      background: #FFDCA1;
      padding: 5px;
      color: #500;
      border: none;
      border-radius: 5px;
      font-family: Poppins;
      font-weight: 700;
      font-size: 12px;
    }
  }
  
  
}

